*{padding: 0%;
     margin: 0%;
  box-sizing:border-box;
;}
button{
    border: 2px solid black;
    border-radius: 10px;
    background-color: aqua;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}
 
 .list {  border: 2px solid purple;
    border-radius: 10px; 
    background-color: aqua;
   color: #f0f0f0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    margin: 0%;
    justify-content: space-around;
    align-items: center;
    background-image: url(https://pbs.twimg.com/media/E5Zm8R1XEAAEEKz.jpg);
    background-position: 100% 15%;
    background-size: 86%;
  width: 80%;
  max-width: 500px;
   height: 130px;

  margin-left: auto;
  margin-right: auto;
  
  background-color: #f0f0f0;
  text-align: center;
  transition: background-size .2s linear;
  }
.list:hover {background-size: 100%;}
  .hui { border: 2px solid purple;
    border-radius: 10px; 
    background-color: aqua;
   
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    margin: 0%;
    justify-content: space-around;
    align-items: center;
    
    
  }
.suka {

    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    text-shadow: -1px -1px 0 black,
                 1px 1px 0 black,
                 -1px -1px 0 black,
                 1px -1px 0 black;
    color:rgba(255, 0, 0, 0.897);
}

.proba{
    width: 150px;
    height: 150px;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center; 
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    background-color: rgb(4, 28, 243);
}

.proba:hover{
    background-color:rgb(234, 250, 4)
}

.regatsa{
    width: 5x;
    gap: 0px;
    color:rgb(243, 6, 26);
    margin-left: 500px;
    margin-top: 10px;
    text-shadow: 
            -1px -1px 0 black,
            1px 1px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black;
}

body{
    background-image: url("https://d1rldr9jdodfaa.cloudfront.net/images/01KMN80PGQFQCBCPF1ZF1R0A61/9fefd5a4-7c03-4678-a126-f2fe131b1cbd_1774534547.webp");
    background-position: 100% 15%;
}


button:hover {
    background-color:rgb(0, 131, 255);}

.outp{
    width: 200px;
    height: 100 px;
    caret-color: green;
    margin-top: 50px;
    margin-left: 800px;
    text-shadow: -1px -1px 0 rgb(9, 5, 243),
                 1px 1px 0 rgb(208, 255, 0),
                 -1px -1px 0 rgb(2, 19, 253),
                 1px -1px 0 rgb(232, 248, 2);
    text-align: center;
    text-size-adjust: unset;
    text-transform: uppercase;

}